nodered_flow.txt
[{"id":"2ab4f9aa.b217b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3864c7a1.6ef788","type":"tcp in","z":"2ab4f9aa.b217b6","name":"","server":"server","host":"127.0.0.1","port":"1234","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":180,"y":260,"wires":[["f674217e.ad3b","ebdd0fb1.a7fe48","22ec5241.903776","7d35484f.44036"]]},{"id":"f674217e.ad3b","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":400,"y":400,"wires":[]},{"id":"ebdd0fb1.a7fe48","type":"function","z":"2ab4f9aa.b217b6","name":"sender","func":"var bytes = Buffer.from(msg.payload)\n\nvar integer = bytes[1]\n\nmsg.payload = integer\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":240,"wires":[["d63679b7.4173c"]]},{"id":"d63679b7.4173c","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":240,"wires":[]},{"id":"22ec5241.903776","type":"function","z":"2ab4f9aa.b217b6","name":"type","func":"var bytes = Buffer.from(msg.payload)\n\nvar integer = bytes[0]\n\nmsg.payload = integer\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":180,"wires":[["9b1fb2ec.793148"]]},{"id":"9b1fb2ec.793148","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":700,"y":180,"wires":[]},{"id":"7d35484f.44036","type":"function","z":"2ab4f9aa.b217b6","name":"sender","func":"var bytes = Buffer.from(msg.payload)\n\nvar integer = bytes[4]\n\nmsg.payload = integer\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["14a1c1e.c2f743e"]]},{"id":"14a1c1e.c2f743e","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":700,"y":300,"wires":[]}]
