nodered_flow.txt
[{"id":"2ab4f9aa.b217b6","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3864c7a1.6ef788","type":"tcp in","z":"2ab4f9aa.b217b6","name":"","server":"server","host":"127.0.0.1","port":"2409","datamode":"stream","datatype":"utf8","newline":"\\n","topic":"","base64":false,"x":200,"y":180,"wires":[["8b350276.421d5"]]},{"id":"4511f233.05a7f4","type":"mqtt out","z":"2ab4f9aa.b217b6","name":"","topic":"channels/2232200/publish","qos":"","retain":"","broker":"cf8041f6.c8138","x":1210,"y":180,"wires":[]},{"id":"df369b3c.70c3f","type":"delay","z":"2ab4f9aa.b217b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"19","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":180,"wires":[["ce56d8bd.bb7e9","f74fe4c5.6335","30a1e024.5faae"]]},{"id":"ce56d8bd.bb7e9","type":"function","z":"2ab4f9aa.b217b6","name":"thingspeak builder","func":"var CHANNEL_ID = \"2232200\"\n\nconst lines = msg.payload.split(\"\\n\")\n\nmsg.topic = \"channels/\"+CHANNEL_ID+\"/publish/\"\nmsg.payload=\"field\"+lines[0]+\"=\"+lines[1]+\"&status=MQTTPUBLISH\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["4511f233.05a7f4","7c8ce14b.2b04a","1293f58c.cb96aa"]]},{"id":"7c8ce14b.2b04a","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":240,"wires":[]},{"id":"8b350276.421d5","type":"function","z":"2ab4f9aa.b217b6","name":"sender&value&extractor","func":"var bytes = Buffer.from(msg.payload)\n\nvar sender = bytes[1]\n\nvar value = bytes[3]\n\nvar payload = sender + \"\\n\" + value\n\nmsg.payload = payload\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["df369b3c.70c3f"]]},{"id":"f74fe4c5.6335","type":"debug","z":"2ab4f9aa.b217b6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":240,"wires":[]},{"id":"30a1e024.5faae","type":"file","z":"2ab4f9aa.b217b6","name":"log to file","filename":"/home/user/Desktop/node-red-log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":890,"y":120,"wires":[[]]},{"id":"1293f58c.cb96aa","type":"file","z":"2ab4f9aa.b217b6","name":"log to file","filename":"/home/user/Desktop/node-red-log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1150,"y":120,"wires":[[]]},{"id":"cf8041f6.c8138","type":"mqtt-broker","z":"","name":"LoraWan_prj","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"NRcUOyk2JyY9ESo4PQUJCic","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
