nodered_flow.txt
[{"id":"bf000810.1a03a8","type":"tab","label":"10607946-10672372 Flow","disabled":false,"info":""},{"id":"397a3daa.da5262","type":"tcp in","z":"bf000810.1a03a8","name":"","server":"server","host":"127.0.0.1","port":"2409","datamode":"stream","datatype":"utf8","newline":"\\n\\n\\n","topic":"","base64":false,"x":200,"y":180,"wires":[["6a52788a.ce8b48","3ee43fdb.c3fdb"]]},{"id":"39a9e8d2.876e18","type":"mqtt out","z":"bf000810.1a03a8","name":"","topic":"channels/2232200/publish","qos":"","retain":"","broker":"11e4372.9910ec9","x":1210,"y":180,"wires":[]},{"id":"d374dc73.6169a","type":"delay","z":"bf000810.1a03a8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":710,"y":180,"wires":[["edba178a.ffb1c8","4c911e5b.d41fb","b577ebdf.47764"]]},{"id":"edba178a.ffb1c8","type":"function","z":"bf000810.1a03a8","name":"thingspeak builder","func":"var CHANNEL_ID = \"2232200\"\n\nconst lines = msg.payload.split(\"\\n\")\n\nmsg.topic = \"channels/\"+CHANNEL_ID+\"/publish/\"\nmsg.payload=\"field\"+lines[0]+\"=\"+lines[1]+\"&status=MQTTPUBLISH\";\n\nreturn msg;\n","outputs":1,"noerr":0,"x":920,"y":180,"wires":[["39a9e8d2.876e18","f880f927.0c27c8","e7f4b9f5.a22d48"]]},{"id":"f880f927.0c27c8","type":"debug","z":"bf000810.1a03a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1160,"y":240,"wires":[]},{"id":"6a52788a.ce8b48","type":"function","z":"bf000810.1a03a8","name":"sender&value&extractor","func":"var bytes = Buffer.from(msg.payload)\nif (bytes.length >= 6) {\nvar sender = bytes.readUInt8(3)\n\nvar value = bytes.readUInt8(2)\n\nvar payload = sender + \"\\n\" + value\n\nmsg.payload = payload\nreturn msg;}\nelse{return null;}","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["d374dc73.6169a"]]},{"id":"4c911e5b.d41fb","type":"debug","z":"bf000810.1a03a8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":900,"y":240,"wires":[]},{"id":"b577ebdf.47764","type":"file","z":"bf000810.1a03a8","name":"log to file","filename":"/home/user/Desktop/node-red-log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":890,"y":120,"wires":[[]]},{"id":"e7f4b9f5.a22d48","type":"file","z":"bf000810.1a03a8","name":"log to file","filename":"/home/user/Desktop/node-red-log.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":1150,"y":120,"wires":[[]]},{"id":"3ee43fdb.c3fdb","type":"debug","z":"bf000810.1a03a8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":420,"y":260,"wires":[]},{"id":"11e4372.9910ec9","type":"mqtt-broker","z":"","name":"LoraWan_prj","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"NRcUOyk2JyY9ESo4PQUJCic","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]
